
@import url('header.css');
@import url('banner.css');
@import url('carrossel.css');
@import url('topicos.css');
@import url('contato.css');
@import url('rodape.css');


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root
{

    --font-principal: "Poppins", sans-serif;

    --background-color-principal: #EBECEE;
    --background-color-secundario: #E5E5E5;

    --text-color-principal: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);


    --color-base1: #EB9B00;
    --color-base2: #FFFFFF;
    --color-base3: #002f52;
    --color-base4: black;
    --color-base5: #474646;
    --color-base6: #858585;


}

body{
font-family: var(--font-principal);
background-color: var(--background-color-principal);
font-size: 16px;
font-weight: 400;
}