
.topicos
{
background: var(--text-color-principal);
text-align: center;
padding: 1em 0;
}

.topicos_titulo
{
color: var(--color-base2);
font-weight: 300;
margin-bottom: 1em;
}

.topico_lista
{
    display: flex;
    flex-wrap: wrap;
justify-content: center;
}

.topicos__link{
    background-color: var(--color-base1);
    color: var(--color-base2);
    font-weight: 700;
    text-decoration: none;
    padding: 1em;
    font-size: 14px;        
    text-decoration: none;
}

.topicos__item
{
    margin: 2em 0.5em;
}

@media screen and (min-width: 1024px) {

    
    
    .topicos__link {
        font-size: 18px;
    }

    .topicos_titulo {
        font-size: 24px;
        margin-bottom: 2em;
    }
    
}

@media screen and (min-width: 1728px) {
    
    .topicos
    {
        padding: 3em 30vh;
    }
    
}